.vs/agenticDotNetSampleProject.slnx/config/applicationhost.config
.vs/agenticDotNetSampleProject.slnx/FileContentIndex/289a7ef8-cf54-46a9-9d9d-d23080dd0688.vsidx
.vs/agenticDotNetSampleProject.slnx/FileContentIndex/999b8b20-b235-4c05-82fd-5f79249b75e0.vsidx
.vs/agenticDotNetSampleProject.slnx/FileContentIndex/9ac2d360-ac96-437c-b4d4-bc2df7887ba1.vsidx
.vs/agenticDotNetSampleProject.slnx/FileContentIndex/b45ba4a9-c9e7-4e69-940f-2724ada8b39a.vsidx
.vs/agenticDotNetSampleProject.slnx/v18/.wsuo
.vs/agenticDotNetSampleProject.slnx/v18/DocumentLayout.json
.vs/agenticDotNetSampleProject.slnx/v18/TestStore/0/000.testlog
.vs/agenticDotNetSampleProject.slnx/v18/TestStore/0/testlog.manifest
.vs/agenticDotNetSampleProject/CopilotIndices/18.6.39577.51406/CodeChunks.db
.vs/agenticDotNetSampleProject/CopilotIndices/18.6.39577.51406/CodeChunks.db-shm
.vs/agenticDotNetSampleProject/CopilotIndices/18.6.39577.51406/CodeChunks.db-wal
.vs/agenticDotNetSampleProject/CopilotIndices/18.6.39577.51406/SemanticSymbols.db
.vs/agenticDotNetSampleProject/CopilotIndices/18.6.39577.51406/SemanticSymbols.db-shm
.vs/agenticDotNetSampleProject/CopilotIndices/18.6.39577.51406/SemanticSymbols.db-wal
.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/agenticDotNetSampleProject.slnx/FileContentIndex/1a9b45bd-5138-4f6d-a299-83b194fdd7f5.vsidx
/.vs
